.heading {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
  line-height: 20px;
  padding-left: 5px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.skillspadd {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 720px;
  margin: 0px auto;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border: 1.5px solid #de778a76;
  border-radius: 8px;
  background-color: #febac651;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #de778a;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: #e3e8cd2a;
  padding: 20px;
  max-width: 640px;
  border: 3px solid #e3e8cd;
  border-radius: 20px;
  margin: 20px;
}
